.navbar {
    position: absolute;
    left: 0;
    width: 20vw;
    height: 100%;

    background-color: var(--primary);
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
    border-right: 7px gray double;


    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    transition: transform 0.3s ease-in-out;
}

.navbar.open {
    animation: slideIn 0.4s ease-in-out;
    animation-fill-mode: forwards;
}

.navbar.closed {
    animation: slideOut 0.4s ease-in-out;
    animation-fill-mode: forwards;
}


.navContent {
    height: 97%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.navButtons {
    width: 100%;
    padding: 5px;
    border-bottom: 3px solid rgb(83, 83, 83);
    margin: 10px 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(rgba(255, 255, 255, 0), 80%, rgba(128, 128, 128, 0.1));
    border-radius: 15%;
    margin-bottom: 15px;
}

.navButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--accentBlue), var(--primary));
    outline: 2px solid black;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: outline 0.1s ease-in-out;
    cursor: pointer;
    flex-shrink: 0;
}

.navButton:hover {
    outline: solid 3px var(--accentGreen);
}

.handle {
    position: absolute;
    right:-95px;
    transform: rotate(90deg);
    width: 150px;
    cursor: pointer;
}

.courseList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;
    list-style: none;
    margin: 0 0 25px 0;
    padding: 0;

}

.course {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    background-image: linear-gradient(var(--accentBlue), var(--primary));
    color: #00f;
    outline: solid 3px black;
    transition: outline 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.course h3 {
    text-decoration: none;
    color: black;
}

.course:hover {
    outline: solid 5px var(--accentGreen);
    /* adjust as needed */
}

.courseName {
    text-align: center;
}

.logButton {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-image: linear-gradient(var(--accentBlue), var(--primary));
    border: black 3px solid;
    border-radius: 15%;
    width: 150px;
   cursor: pointer;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}