.landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

.landing-page h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.landing-page button {
    justify-content: center;
    align-items: center;
    display:block;
    font-size: 1.5rem;
    padding: 0.5em 3em;
    border: 0.16em solid #b7cce6;
    margin: 0 0.3em 0.3em 0;
    border-radius: 10px;
    background-color: #3e4673;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.landing-page button:hover {
    background-color: #436389;
}